body{
  font-family: 'Noto Serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing : grayscale;
  text-rendering: optimizeLegibility;
  background-color: black;
  color: white;
  height: 100vh;
  overflow: hidden;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Space Mono', monospace;
}

.navbar {
  font-family: 'Space Mono', monospace;
  font-size: 28px;
  color: #FFFFFF;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navbar .navbar-brand{
  font-weight: bold;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover{
  color: white
}

#contactus{
  position: fixed;
  bottom: 0px;
  top: 0px;
  right: 0px;
  display: none;

  flex-direction: column;
  justify-content: center;

  -webkit-flex-direction: column;
  -webkit-justify-content: center;

  padding: 0px 15px;
  /*background-color: black;*/
}

#contactus a{
  font-family: 'Space Mono', monospace;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

#contactus a{
  cursor: help;
}

#contactus a:hover{
  text-decoration: none;
  color: white;
}


.containerPadding{
  padding-top: 70px;
}

.flexWrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  padding-top: 70px;
}

.flexWrapper .row{
  width: 100%;
}

#inoltre p{
  font-size: 16px;
  column-count: 1;
}

#info p{
  font-size: 18px;
}

#info p a{
  font-weight: bold;
  text-decoration: underline;
  color: white;
}

#info p a:hover{
  text-decoration: line-through;
  color: white;
}

.bg-map {
  height: 300px;
  width: 100%;
  background: white;
  border: 1px solid black;
  margin-bottom: 15px;
}

.prologoText p{
  background-color: white;
  color:black;
  font-size: 20px;
  padding: 10px;
  border: 1px solid black;
}

.prologoText img{
  max-width: 100%;
  min-width: 100%;
  padding: 15px;
}

.data{
  background: white;
}

.prologoText ul{
  background-color: white;
  color:black;
  font-size: 20px;
  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.prologoText a{
  text-decoration: underline;
  color:black;
}

.prologoText a:hover{
  text-decoration: line-through;
  color:black;
}

.prologoText h2{
  color:black;
}

.titlePrologo{
  color: black;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
}

.prologo a.navbar-brand{
  color: black!important;
}

.prologo a{
  color: black!important;
}

.prologo .navbar{
  background-color: white!important;
  border-bottom: 1px solid black!important;
}

.prologoBtn.btn{
  border-radius: 0px;
  font-family: 'Space Mono', monospace;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.prologoBtn.btn-default {
    color: black;
    background-color: white;
    border-color: black;
    transition: all 0.5s;
    margin-bottom: 20px;
}

.prologoBtn.btn-default:hover{
  background-color: black;
  color: white;
}

.prologoBtn.btn:focus{
  outline: none;
}

.prologoBtn.btn.active, .btn:active{
  box-shadow: none;
}

.cursor-transparent {
  pointer-events: none;
}

.coverMd p{
  font-size: 20px;
  padding: 15px;
  border: 1px solid white;
  margin-top: 15px;
  margin-bottom: 15px;
}

.coverMd h3{
  padding: 10px;
  border: 1px solid white;
}

.btnCover{
  margin-bottom: 20px;
}

/* connection start*/

#containerConnection{
  height: 100vh;
  overflow: hidden;
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;*/
  /*padding-top:70px;*/
}

.prevConnection,
.nextConnection{
  position: absolute;
  top:50%;
}

.prevConnection .labelConnection,
.nextConnection .labelConnection{
  display: none;
}

.nextConnection{
  right: 15px;
}

.markerPlay{
  border: 2px solid black;
  width: 24px;
  height: 24px;
  background: white;
  color: black;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
}

.markerPlay .glyphicon{
  line-height: 1.5;
}

.relative{
  position: relative;
}

.videoWrapper{
  /*position: fixed;
  left:0;*/
  margin-top:50px;
  /*bottom: 0;
  right: 0;*/
  overflow: hidden;
  opacity: 1;
  /*z-index: 10;*/
}

.mapWrapper{
  position: fixed;
  left:0;
  top:0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: -10;
  background: white;
}

.videoConnection video{
  width: 100%;
  height: auto;
}


/*.videoW img{
  width: 100%;
  height: auto;
  position: absolute;
  top:0;
}*/

.videoW video, .videoH video{
  width: 160%;
  margin-left: -30%;
  height: auto;
}

videogular vg-poster, [videogular] vg-poster {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  display: block;
  z-index: 1;
  top: 0;
  pointer-events: none;
}

videogular vg-poster img, [videogular] vg-poster img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
}

videogular vg-poster img.pause,
videogular vg-poster img.play, [videogular] vg-poster img.pause,
[videogular] vg-poster img.play {
  display: none;
}

videogular vg-poster img.stop, [videogular] vg-poster img.stop {
  display: block;
}

#chartsConnection{
  height: 235px;
  padding-bottom: 15px;
}

#chartsConnection .chartContainer{
  border: 1px solid white;
}

#chartsConnection .barValue,
#chartsConnection .legend{
  font-size: 10px;
  letter-spacing: 1px;
  font-family: 'Space Mono', monospace;
  font-weight: bold;
}

#chartsConnection .axis.axis--y path,
#chartsConnection .axis.axis--y line{
  display: none;
}

#chartsConnection .axis.axis--x path,
#chartsConnection .axis.axis--x line{
  stroke: white;
}



#chartsConnection .axis.axis--y text,
#chartsConnection .legendText{
  font-size: 10px;
  font-family: 'Space Mono', monospace;
  fill: white;
}

#chartsConnection .chartContainer h5{
  text-transform: uppercase;
  font-weight: bold;
  margin: 0px;
  padding: 10px;
  border-bottom: 1px solid white;
}

#mapConnection{
  height: calc(100% - 235px);
  padding-top: 50px;
}

#mapConnection .mapboxgl-ctrl-attrib{
  display: none;
}

/* connection end*/

/* utility start*/

.fullHeight{
  height: 100%;
}

/* utility end*/

.header > .navbar {
  border-radius: 0px;
  border-bottom: 1px solid white;
  background-color: transparent;
}


.navbar {
  font-family: 'Space Mono', monospace;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 0px;
  vertical-align: middle;
  border: none;
  border-radius: 0px;
}

a.navbar-brand {
  text-transform: uppercase;
  color: white !important;
  font-weight: 600;
}

.navbar-nav li{
  vertical-align: middle;
  color: white;
  /*background-color: black;*/
}

.navbar-default .navbar-nav > li > a.prologo{
  color: black;
}

.navbar-default .navbar-nav > li > a.prologo:hover{
  text-decoration: line-through;
  color: black;
}

.navbar-default .navbar-nav > li > a{
  vertical-align: middle;
  color: white;
  /*background-color: black;*/
  border-bottom: 1px solid transparent;
  font-weight: 600;
  margin-bottom: 12px;
  padding-bottom: 2px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a.active{
  text-decoration: line-through;
  color: white;
}


.introHomeText p{
    text-decoration: underline;
    font-size: 24px;
    margin-bottom: 20px;
}

.introHome h1{
    font-family: 'Noto Serif', serif;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}

.introHome .btn{
  border-radius: 0px;
  font-family: 'Space Mono', monospace;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.introHome .btn-default {
    color: white;
    background-color: transparent;
    border-color: white;
    transition: all 0.5s;
}

.introHome .btn-default:hover{
  background-color: white;
  color: black;
}

.introHome .btn:focus{
  outline: none;
}

.introHome .btn.active, .btn:active{
  box-shadow: none;
}

.introHome .esplora{
  margin-bottom: 20px;
}

.homeControls{
  text-align: left;
  margin-top: 10px;
}

.introEpilogo p{
    font-size: 24px;
    /*font-weight: bold;*/
    margin-bottom: 30px;
}

.introEpilogo p:nth-child(2){
    font-size: 24px;
    text-decoration: underline;
    /*font-weight: bold;*/
    margin-bottom: 30px;
}

.introEpilogo h1{
    font-family: 'Noto Serif', serif;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 50px;
    text-decoration: line-through;
}

.splashMobile{
  position: absolute;
  top:0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(255, 255, 255, 0.90);
  z-index: 9999;
  text-align: center;
  display: flex!important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: -webkit-flex!important;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  padding: 20px;
  font-size: 18px;
  color: black;
}

.splashMobile a{
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

.splashMobile a:hover{
  color: black;
  text-decoration: underline;
}

@media (min-width: 1200px){
  .container {
      width: inherit;
  }
}

@media (min-width: 768px){

  body{
    height: auto;
    overflow: auto;
  }

  #contactus{
    display: flex;
    display: -webkit-flex;
  }
/*
  #navbar .navbar-right {
      display: none!important;
  }

  .navbar-fixed-bottom .navbar-collapse,
  .navbar-fixed-top .navbar-collapse {
      background-color: transparent;
  }

  #navbar>ul:not(.navbar-right) li>a:before{
    content: "| "
  }

  .navbar-nav:not(.navbar-right) {
    border-bottom: none;
  }*/

  .homeControls{
    text-align: right;
  }

  #inoltre p {
    -moz-column-count: 2;
    column-count: 2;
  }

  .bg-map {
    height: 100%;
    border: none;
    margin-bottom: 0px;
  }

  .videoWrapper {
    position: fixed;
    left: 0;
    top: 0px;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: -10;
    opacity: 0.75;
    margin-top: 0px;
  }

  .videoW video{
    width: 100%;
    height: auto;
    margin-left: 0px;
  }

  .videoH video{
    width: auto;
    height: 100%;
    margin-left: 0px;
  }

}
