body{
  font-family: 'Noto Serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing : grayscale;
  text-rendering: optimizeLegibility;
  background-color: black;
  color: white;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Space Mono', monospace;
}

.navbar {
  font-family: 'Space Mono', monospace;
  font-size: 28px;
  color: #FFFFFF;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navbar .navbar-brand{
  font-weight: bold;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover{
  color: white
}

#contactus{
  position: fixed;
  bottom: 0px;
  top: 0px;
  right: 0px;
  display: none;

  flex-direction: column;
  justify-content: center;

  -webkit-flex-direction: column;
  -webkit-justify-content: center;

  padding: 0px 15px;
  /*background-color: black;*/
}

#contactus a{
  font-family: 'Space Mono', monospace;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

#contactus a{
  cursor: help;
}

#contactus a:hover{
  text-decoration: none;
  color: white;
}


.containerPadding{
  /*padding-top: 70px;*/
}

.flexWrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  padding-top: 70px;
}

.flexWrapper .row{
  width: 100%;
}

#inoltre p{
  font-size: 16px;
  column-count: 1;
}

#info p{
  font-size: 18px;
}

#info p a{
  font-weight: bold;
  text-decoration: underline;
  color: white;
}

#info p a:hover{
  text-decoration: line-through;;
  color: white;
}

.bg-map {
  height: 100%;
  width: 100%;
  background: white;
}

.prologoText p{
  background-color: white;
  color:black;
  font-size: 20px;
  padding: 10px;
  border: 1px solid black;
}

.titlePrologo{
  color: black;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
}

.prologo a.navbar-brand{
  color: black!important;
}

.prologo .navbar{
  background-color: white!important;
  border-bottom: 1px solid black!important;
}

.prologoBtn.btn{
  border-radius: 0px;
  font-family: 'Space Mono', monospace;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.prologoBtn.btn-default {
    color: black;
    background-color: white;
    border-color: black;
    transition: all 0.5s;
}

.prologoBtn.btn-default:hover{
  background-color: black;
  color: white;
}

.prologoBtn.btn:focus{
  outline: none;
}

.prologoBtn.btn.active, .btn:active{
  box-shadow: none;
}

.cursor-transparent {
  pointer-events: none;
}

.coverMd p{
  font-size: 17px;
  column-count: 2;
  column-gap: 30px;
  padding: 15px;
  border: 1px solid white;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bold;
}

/* connection start*/

#containerConnection{
  height: 100vh;
  margin-top: -70px;
  overflow: hidden;
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;*/
  /*padding-top:70px;*/
}

.videoWrapper{
  position: fixed;
  left:0;
  top:0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: -10;
  opacity: 0.75;
}

.videoConnection video{
  width: 100%;
  height: auto;
}

.videoW video{
  width: 100%;
  height: auto;
}

.videoH video{
  width: auto;
  height: 100%;
}

#chartsConnection{
  height: 235px;
  padding-bottom: 15px;
}

#chartsConnection .chartContainer{
  border: 1px solid white;
}

#chartsConnection .barValue,
#chartsConnection .legend{
  font-size: 10px;
  letter-spacing: 1px;
  font-family: 'Space Mono', monospace;
  font-weight: bold;
}

#chartsConnection .axis.axis--y path,
#chartsConnection .axis.axis--y line{
  display: none;
}

#chartsConnection .axis.axis--x path,
#chartsConnection .axis.axis--x line{
  stroke: white;
}



#chartsConnection .axis.axis--y text,
#chartsConnection .legendText{
  font-size: 10px;
  font-family: 'Space Mono', monospace;
  fill: white;
}

#chartsConnection .chartContainer h5{
  text-transform: uppercase;
  font-weight: bold;
  margin: 0px;
  padding: 10px;
  border-bottom: 1px solid white;
}

#mapConnection{
  height: calc(100% - 235px);
  padding-top: 50px;
}

#mapConnection .mapboxgl-ctrl-attrib{
  display: none;
}

/* connection end*/

/* utility start*/

.fullHeight{
  height: 100%;
}

/* utility end*/

.header > .navbar {
  border-radius: 0px;
  border-bottom: 1px solid white;
  background-color: transparent;
}


.navbar {
  font-family: 'Space Mono', monospace;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 0px;
  vertical-align: middle;
  border: none;
  border-radius: 0px;
}

a.navbar-brand {
  text-transform: uppercase;
  color: white !important;
  font-weight: 600;
}

.navbar-nav li{
  vertical-align: middle;
  color: white;
  /*background-color: black;*/
}

.navbar-default .navbar-nav > li > a.prologo{
  color: black;
}

.navbar-default .navbar-nav > li > a.prologo:hover{
  text-decoration: line-through;
  color: black;
}

.navbar-default .navbar-nav > li > a{
  vertical-align: middle;
  color: white;
  /*background-color: black;*/
  border-bottom: 1px solid transparent;
  font-weight: 600;
  margin-bottom: 12px;
  padding-bottom: 2px;
}

.navbar-default .navbar-nav > li > a:hover{
  text-decoration: line-through;
  color: white;
}


.introHomeText p{
    text-decoration: underline;
    font-size: 24px;
    margin-bottom: 20px;
}

.introHome h1{
    font-family: 'Noto Serif', serif;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}

.introHome .btn{
  border-radius: 0px;
  font-family: 'Space Mono', monospace;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.introHome .btn-default {
    color: white;
    background-color: transparent;
    border-color: white;
    transition: all 0.5s;
}

.introHome .btn-default:hover{
  background-color: white;
  color: black;
}

.introHome .btn:focus{
  outline: none;
}

.introHome .btn.active, .btn:active{
  box-shadow: none;
}

.introHome .esplora{
  margin-bottom: 20px;
}

.homeControls{
  text-align: left;
  margin-top: 10px;
}

.introEpilogo p{
    font-size: 24px;
    /*font-weight: bold;*/
    margin-bottom: 30px;
}

.introEpilogo p:nth-child(2){
    font-size: 24px;
    text-decoration: underline;
    /*font-weight: bold;*/
    margin-bottom: 30px;
}

.introEpilogo h1{
    font-family: 'Noto Serif', serif;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 50px;
    text-decoration: line-through;
}

@media (min-width: 1200px){
  .container {
      width: inherit;
  }
}

@media (min-width: 768px){
  #contactus{
    display: flex;
    display: -webkit-flex;
  }
/*
  #navbar .navbar-right {
      display: none!important;
  }

  .navbar-fixed-bottom .navbar-collapse,
  .navbar-fixed-top .navbar-collapse {
      background-color: transparent;
  }

  #navbar>ul:not(.navbar-right) li>a:before{
    content: "| "
  }

  .navbar-nav:not(.navbar-right) {
    border-bottom: none;
  }*/

  .homeControls{
    text-align: right;
  }

  #inoltre p {
    -moz-column-count: 2;
    column-count: 2;
  }

}
