<div class="row">
  <div class="col-md-3">
    <div class="chart-contaier">
      <div class="title">{{areaTitle}}</div>
      <div id="mapConnection" mapconnection></div>
    </div>
  </div>
  <div class="col-md-8">
    <videogular class="videoConnection"
      vg-auto-play="true"
      vg-update-time="onUpdateTime($currentTime, $duration)"
      vg-player-ready="onPlayerReady($API)">
        <vg-media vg-src="videoconfig.sources"
              vg-native-controls="true">
        </vg-media>
    </videogular>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="chart-contaier">
      <div class="title">Servizi OSM</div>
      <div class="barchart" data="chartOsm" barchart></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="chart-contaier">
      <div class="title">Servizi PGT</div>
      <div class="barchart" data="chartPgt" barchart></div>
    </div>
  </div>
  <div class="col-md-4" style="background:rgba(255,255,255,0.2)">
    <div class="chart-contaier">
      <div class="title">Affitti</div>
      <div data="chartRent" height="100" barchart></div>
      <div data="airbnb" height="100" candlestick></div>
      <div data="idealista" height="100" candlestick></div>
    </div>
  </div>
</div>
