<div class="header">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">scandaglio</a>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
              <li><a href="#/prologo">Prologo</a></li>
              <li><a href="#/cover/melchiorre">Melchiorre Gioia</a></li>
              <li class="connection"><a href="#/connection/melchiorre"><i class="fa fa-bicycle" aria-hidden="true"></i></a></li>
              <li><a href="#/cover/isola">Isola / Porta Nuova</a></li>
              <li class="connection"><a href="#/connection/isola"><i class="fa fa-bicycle" aria-hidden="true"></i></a></li>
              <li><a href="#/cover/centro">Centro Storico</a></li>
              <li class="connection"><a href="#/connection/centro"><i class="fa fa-bicycle" aria-hidden="true"></i></a></li>
              <li><a href="#/cover/darsena">Darsena</a></li>
              <li class="connection"><a href="#connection/darsena"><i class="fa fa-bicycle" aria-hidden="true"></i></a></li>
              <li><a href="#/epilogo">Epilogo</a></li>
          </ul>
      </div>
    </div>
  </div>
</div>
<div class="videoWrapper">
  <videogular ng-class="videoClass"
    vg-auto-play="false"
    vg-update-time="onUpdateTime($currentTime, $duration)"
    vg-player-ready="onPlayerReady($API)">
      <vg-media vg-src="videoconfig.sources"
            vg-native-controls="false">
      </vg-media>
  </videogular>
</div>
<div class="container-fluid" id="containerConnection">
  <div class="row" id="mapConnection">
    <div class="col-md-12 fullHeight">
      <div class="fullHeight" mapconnection></div>
    </div>
  </div>
  <div class="row" id="chartsConnection">
    <div class="col-md-4 fullHeight">
      <div class="chartContainer fullHeight">
      <h5>servizi commerciali</h5>
      <div class="barchart" data="chartOsm"  ydomain="osmCategory" height="175" barchart></div>
      </div>
    </div>
    <div class="col-md-4 fullHeight">
      <div class="chartContainer fullHeight">
        <h5>servizi pubblici</h5>
        <div class="barchart" data="chartPgt" ydomain="pgtCategory" height="175" barchart></div>
      </div>
    </div>
    <div class="col-md-4 fullHeight">
      <div class="chartContainer fullHeight">
        <h5>Numero Affitti</h5>
        <div data="chartRent" height="70" marginleft="100" barchart></div>
        <div data="airbnb" height="40" legend="prezzo a notte airbnb" candlestick></div>
        <div data="idealista" height="40" legend="prezzo al m2 idealista" candlestick></div>
      </div>
    </div>
  </div>
</div>
