<div class="header">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">scandaglio</a>
      </div>

      <div class="navbar-collapse collapse" id="js-navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#/prologo">Prologo</a></li>
          <li><a href="#/cover/melchiorre" ng-class="{'active': area == 'melchiorre'}" >Melchiorre Gioia</a></li>
          <li><a href="#/cover/isola" ng-class="{'active': area == 'isola'}">Isola / Porta Nuova</a></li>
          <li><a href="#/cover/centro" ng-class="{'active': area == 'centro'}">Centro Storico</a></li>
          <li><a href="#/cover/darsena" ng-class="{'active': area == 'darsena'}">Darsena</a></li>
          <li><a href="#/epilogo">Epilogo</a></li>
          </ul>
      </div>
    </div>
  </div>
</div>

<div class="videoWrapper">
  <videogular ng-class="videoClass"
    vg-auto-play="true"
    vg-player-ready="onPlayerReady($API)">
      <vg-media vg-src="videoconfig.sources"
            vg-loop="true"
            vg-native-controls="false">
      </vg-media>
    <vg-poster vg-url='videoconfig.plugins.poster'></vg-poster>
  </videogular>
</div>

<div class="container containerPadding">
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <div class="coverMd" btf-markdown ng-include="mdUrl"></div>
      <span class="introHome">
        <a class="btn btn-default pull-right btnCover" ng-href="#/connection/{{area}}">
          pedala
          <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        </a>
      </span>
    </div>
  </div>
</div>
