<bg-map></bg-map>
<div class="row">
	<div class="col-xs-4 col-xs-offset-2">
		<h3>Quattro aree</h3>
	</div>
</div>

<div class="row cursor-transparent">
	<div class="col-xs-4 col-xs-offset-1">
		<p>Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.</p>
	</div>
<!-- 	<div class="col-xs-12 col-xs-offset-0">
		<btf-markdown>#Markdown directive *It works!*</btf-markdown>
		<div btf-markdown ng-include="'./data/testo.md'"></div>
	</div> -->
</div>

<div class="row">
	<div class="col-xs-3">
		<button type="button" class="btn btn-default btn-sm" ng-click="status.open = !status.open">Pedala</button>
	</div>
</div>